@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

* { 
    box-sizing:border-box;
    margin:0;
    padding:0;
}


#drum-machine {
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: #2980b9;
  height: 100vh;
}

.control-area {
  border: 5px solid grey;
  background-color: #2ecc71;
  border-radius: 4px;
  width: 660px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  position: relative;

}

.control-area .pad-area {
  width: 340px;
  height: 300px;
  display: inline-block;
  margin: 20px;
}

.pad-area h2 {
  width: 100%;
  text-align:center;
  font-family: Hanalei Fill, sans-serif;
}

.control-area .pad-area .drum-pad {
  position: relative;
  float: left;
  text-align: center;
  color: white;
  width: 100px;
  height: 80px;
  margin-right: 5px;  
  font-size: 50px;
  border: 2px solid #333;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.control-area .aux-pad {
  display: inline-block;
  width: 250px;
  height: 280px;
  margin: 10px;
}

/* Media Query */

@media screen and (max-width: 680px) {
  .control-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid grey;
    background-color: #2ecc71;
    border-radius: 4px;
    width: auto;
    height: 500px;
    margin: -10px 10px 0 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }

  .control-area .pad-area {
    width: 250px;
    height: 250px;
    margin-top: -60px;
  }

  .control-area .pad-area .drum-pad{
    width: 60px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 1rem;
    border: 2px solid #333;
    padding-top: 10px;
    border-radius: 5px;
    margin-right: 7px;
    margin-left: 7px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .control-area .aux-pad {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
  }

  .pad-area h2 {
    margin-bottom: 20px;
  }
  
  
}